html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    display: grid;
    grid-template-rows: 50px 90px;
}
.header__algo {
    background-color: #47cfac;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header__algo .links__container a {
    text-decoration: none;
}
.header__algo .links__container a span {
    color: white;
}
.header__algo .links__container {
    width: 300px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    
}
header nav .logo a img {
    height: 90px;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav .mi {
    margin-right: 50px;
    align-self: center;
}
header nav .mi .sobre__mi a  {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

header nav .logo {
    margin-left: 50px;
}
/* __________Main______________ */
main {
    background-image: url("/assets/img/Cover.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    height: 100%;
}
.main__container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .main__container .main__text h1 {
    word-spacing: 1rem;
    letter-spacing: .8rem;
    line-height: 5rem;
    color: white;
    font-size: 3.5rem;
}
main .main__container .main__text {
    margin-top: 100px;
}
main .main__container .main__button {
    margin-top: 80px ;
}
main .main__container .main__button .button__entraYa {
    font-size: 2rem;
    background-color: #47cfac;
    padding: 15px 10px;
    border: 1px solid snow;
    text-decoration: none;
    color: black;
    font-weight:bold;
}